.footer{
   background-color: green; 
   height:500px; 
   width:auto; 
}
.right{
  float:right;
  background:burlywood;
  width:25%;
  height:150px;
}
.middle{
   float:left;
   background:whitesmoke;
   width:50%;
   height:150px;  
}
.left{
  float:left;
  background:burlywood;
  width:25%;
  height:150px;
}
.header{
  background-color: green;
  height:100px; 
  width:auto;
}
body{
  overflow:hidden;
  margin:0px;
}